.navbar {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 212, 93, 0.6);
}

.navLogo {
  margin: 0 10px;
  font-weight: 400;
}

.hamburger {
  margin: 10px;
  display: block;
  position: relative;
  z-index: 10;
  color: var(--text-900);
}

.menuOpen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 20px 0;
  position: absolute;
  right: 0;
  border-radius: 10px;
  background-color: rgba(255, 212, 93, 0.6);
}

.menuClosed {
  display: none;
}
